.bookmark-div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(175, 175, 255);
    padding: 35px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

.bookmark-div button{
    padding: 12px 24px;
    background-color: rgb(90, 90, 255);
    border-radius: 5px;
    color: white;
}

.input-div{
    display: flex;
    gap: 10px;
}

.input-div input{
    padding: 12px 16px;
}

.input-div input:first-child{
    width: 70%;
}

.input-div input:last-child{
    width: 30%;
}

.each-bookmark{
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 5px;
}

.each-bookmark span{
    font-size: 16px;
    font-weight: 500;
}

.each-bookmark button{
    padding: 8px 16px;
    background-color: red;
}

.err-text{
    color: red;
    font-size: 15px;
    font-weight: 400;
}
