.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    background-color: rgb(90, 90, 252);
    padding: 12px 24px;
}

span{
    font-size: 25px;
    font-weight: 600;
}

button{
    cursor: pointer;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 2px;
}