.signup-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(175, 175, 255);
    padding: 35px;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
}

.signup-div .heading{
    font-size:x-large;
    font-weight: bold;
    align-self: center;
}

.signup-div div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signup-div input, .signup-div button{
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
}

.signup-div button{
    padding: 12px 24px;
    background-color: rgb(90, 90, 255);
    color: white;
}

.signup-div span{
    font-size: 18px;
    font-weight: 400;
    color: rgb(30, 30, 30);
}

.signup-div .footer-text{
    font-size: 16px;
}

.footer-text span{
    font-size: 16px;
    color: yellow;
    cursor: pointer;
    transition: color 300ms;
}

.footer-text span:hover{
    color: red;
}
